name: Publish to PyPI

on:
  release:
    types: [published]

permissions:
  id-token: write  
  contents: read

jobs:
  pypi-publish:
    name: Build and upload to PyPI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install build dependencies
        run: pip install build

      - name: Build binary wheel and source tarball
        run: python3 -m build

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
